extends ../layouts/default

block Content
    h1 Users

    form(action='/users/search' method='GET')
        input(type='text' name='q' placeholder='Nhap ten can tim')
        button Search

    ul
        each item in users
            li
                span= item.name
                a(href='/users/view/' + item.id) View